<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>databaseName</param-name>
    <param-value>java:comp/env/jdbc/database</param-value>
  </context-param>
  <context-param>
    <param-name>sysName</param-name>
    <param-value>iCart 萬用購物車</param-value>
  </context-param>
  <context-param>
    <param-name>adminNo</param-name>
    <param-value>S0000000001</param-value>
  </context-param>
  <context-param>
    <param-name>mailServer</param-name>
    <param-value>msa.hinet.net</param-value>
  </context-param>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.sells.common.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>Utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SpringContextServlet</servlet-name>
    <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>invoker</servlet-name>
    <servlet-class>org.apache.catalina.servlets.InvokerServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>PoolInfo</servlet-name>
    <servlet-class>com.sells.servlet.util.PoolInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerInit</servlet-name>
    <servlet-class>com.sells.servlet.util.ServerInit</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerInit</servlet-name>
    <url-pattern>/servlet/ServerInit</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>PoolInfo</servlet-name>
    <url-pattern>/servlet/PoolInfo</url-pattern>
  </servlet-mapping>

  
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
    </error-page>
    <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-bean-el.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean-el.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-html-el.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html-el.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-logic-el.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-logic-el.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-nested.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-template.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-tiles.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>

